.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .arrow {
    background-color: rgb(198, 166, 77);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  .disabled {
    background-color: rgb(185, 185, 185);
    cursor: default;
  }
  
  .pagination p {
    margin: 0 30px;
    text-align: center;
  }
  